## GeoCat experimental

In [3]:
import numpy as np
import pandas as pd
import recommenders as rec
import geocat
import networkx as nx
import matplotlib.pyplot as plt
import areamanager
import math
import timeit
from IPython.core.debugger import set_trace
%matplotlib inline
def string_to_array(string):
    if string == '':
        return list()
    return eval(string)

CITY="madison"

In [4]:
df_checkin=pd.read_csv("../data/checkin/"+CITY+".csv",converters={'categories':string_to_array})
df_checkin['date']=pd.to_datetime(df_checkin['date'])
# users=df_checkin['user_id'].drop_duplicates().reset_index(drop=True)
# num_users=len(users)
df_checkin.set_index("user_id",inplace=True)
df_checkin.head()

,business_id,date,latitude,longitude,categories,subarea_id
user_id,,,,,,
MB7Z80PJxNyQM7keDpR2XQ,br1uQbc3YU5jCpYi46nIgQ,2018-04-04 00:09:03,43.069425,-89.389567,"[Coffee & Tea, Cafes]",2064.0
4HwS2oCVQ1-f_kzHCv5X3A,br1uQbc3YU5jCpYi46nIgQ,2018-02-16 20:40:41,43.069425,-89.389567,"[Coffee & Tea, Cafes]",2064.0
OLBH2Ds1wllrzpHlyojzJQ,br1uQbc3YU5jCpYi46nIgQ,2018-04-12 11:31:03,43.069425,-89.389567,"[Coffee & Tea, Cafes]",2064.0
wd3xoNaDLib8dhQ7BxUl6g,br1uQbc3YU5jCpYi46nIgQ,2018-03-07 14:08:41,43.069425,-89.389567,"[Coffee & Tea, Cafes]",2064.0
4HwS2oCVQ1-f_kzHCv5X3A,br1uQbc3YU5jCpYi46nIgQ,2018-02-16 20:48:49,43.069425,-89.389567,"[Coffee & Tea, Cafes]",2064.0

In [5]:
df_poi=pd.read_csv("../data/poi/"+CITY+".csv",converters={'categories':string_to_array})
df_poi=df_poi.set_index("business_id")

# Test and training set

In [76]:
df_checkin=df_checkin.sort_values(['user_id','date'])

ranks=df_checkin.groupby('user_id')['date'].rank(method='first').reset_index(drop=True)
ranks.head()

#ranks=df_review.groupby('user_id')['date'].rank(method='first')
count=df_checkin.reset_index()['user_id'].map(df_checkin.groupby('user_id')['date'].apply(len))
count.head()

training_set_delimiter=(ranks/count)<0.70
test_set_delimiter=np.logical_not(training_set_delimiter)
training_set_delimiter

df_checkin_train=df_checkin.reset_index()[training_set_delimiter]
df_checkin_train.count()

df_checkin_test=df_checkin.reset_index()[test_set_delimiter]
df_checkin_test.count()

users=df_checkin_train['user_id'].drop_duplicates().reset_index(drop=True)

In [77]:
dict_alias_title,category_tree,dict_alias_depth=geocat.category_manipulation_utils()
undirected_category_tree=category_tree.to_undirected()

In [78]:
num_users=len(users)
users.count()

1022

In [79]:
#df_checkin_train[['user_id','business_id','date']].groupby(['user_id','business_id']).count().reset_index().to_csv("../data/checkin/train/"+CITY+".csv",index=False,header=False)

#df_checkin_test[['user_id','business_id','date']].groupby(['user_id','business_id']).count().reset_index().to_csv("../data/checkin/test/"+CITY+".csv",index=False,header=False)

In [80]:
df_checkin_train=df_checkin_train.set_index('user_id')
df_checkin_test=df_checkin_test.set_index('user_id')

In [81]:
series_poi_checkin=df_checkin_train.reset_index().groupby('business_id').count()['user_id']
series_poi_checkin.name="checkin"
series_poi_checkin.head(2)

business_id
-0Hj1hb_XW6ybWq2M7QhGA    4
-0b86isaXMY0v4g-V8GZ9Q    3
Name: checkin, dtype: int64

In [82]:
series_poi_checkin.loc["FEH0i7SnTH81k451ZadKIQ"]

98

### load poi neighbor

In [83]:
df_poi_neighbor=pd.read_csv("../data/neighbor/"+CITY+".csv",converters={'neighbors':string_to_array})
df_poi_neighbor=df_poi_neighbor.set_index("business_id")

In [87]:
df_checkin.loc["scaxsfOynKUZEijn_UCTkg"].count()

business_id    46
date           46
latitude       46
longitude      46
categories     46
subarea_id     46
dtype: int64

In [14]:
user_id="scaxsfOynKUZEijn_UCTkg"
df_checkin.loc[[user_id]].head(2)

,business_id,date,latitude,longitude,categories,subarea_id
user_id,,,,,,
scaxsfOynKUZEijn_UCTkg,OSXb-DOITpDR7nm8wjrZ2w,2017-02-28 00:05:42,43.071577,-89.524585,[Nail Salons],2086.0
scaxsfOynKUZEijn_UCTkg,U7G4VBrra439LgGBvV7dcg,2017-02-28 16:23:37,43.123634,-89.350392,[Eyelash Service],2897.0

In [24]:
N=80
K=20
VERY_SMALL_VALUE=-100
i=0

# tmp_rec_list=rec.mostpopular(df_checkin,K)
# tmp_rec_list['score']=tmp_rec_list['score']/tmp_rec_list['score'].max()
# print(tmp_rec_list)
dict_rec_list=dict()
for user_id in users:
    user_id="scaxsfOynKUZEijn_UCTkg"
    print(user_id)
    # User visits
    df_user_checkin=df_checkin_train.loc[[user_id]].reset_index(drop=True)
    
    list_user_pois=set(df_user_checkin['business_id'].drop_duplicates().values)
    
    
    tmp_rec_list=rec.mostpopular(df_checkin_train.reset_index(),N,num_users,list_user_pois)
    
    # add other columns
    tmp_rec_list=pd.merge(tmp_rec_list,df_poi.reset_index(),on='business_id').drop_duplicates(subset=df_poi.reset_index().columns.difference(['categories'])).reset_index(drop=True)

    business_cover=dict()
    for business_id in df_user_checkin['business_id'].drop_duplicates().reset_index(drop=True):
        business_cover[business_id]=0
    # Constants
    #COVER_OF_POI=len(df_user_review)/len(tmp_rec_list)
    div_geo_cat_weight = 0.5 # beta,this is here because of the work to be done on parameter customization for each user
    div_weight = 0.75 # lambda, geo vs cat
    current_proportionality=0
    
    rec_list=pd.DataFrame(columns=['business_id','score','latitude','longitude','categories'])
#     relevant_categories_user=geocat.relevant_categories_to_the_user(df_user_checkin)

    # REPLICATE WRONG CODE
    series_user_checkin=df_user_checkin.groupby('business_id').count()['date']
    series_user_checkin.name="checkin"
    print(series_poi_checkin[business_cover.keys()])
    # This code is to replicate the error in original geocat
    mean_poi_visits=(series_poi_checkin[business_cover.keys()]*series_user_checkin).sum()/series_user_checkin.sum()
    # Relevant categories
    cc=0
    relevant_categories = set()
    for poi_id,checkins in series_poi_checkin[business_cover.keys()].iteritems():
        # Check if poi is relevant
        if checkins >= mean_poi_visits:
            # add relevant categories
            for category in df_poi.loc[poi_id]['categories']:
                relevant_categories.add(category)
                cc+=1
    print(cc)
    # REPLICATE WRONG CODE
    for i in relevant_categories:
        print(dict_alias_title[i])
    print(relevant_categories)
    break
    
    # post-processing for diversification
    for i in range(K):
#         start = timeit.default_timer()
        #num_current_candidates=len(tmp_rec_list)
        poi_to_insert=None
        max_objective_value=VERY_SMALL_VALUE
        rec_list_categories=geocat.category_in_rec_list(tmp_rec_list)
        
        for index,poi_candidate in tmp_rec_list.iterrows():
            poi_neighbors=df_poi.loc[df_poi_neighbor.loc[poi_candidate.business_id].neighbors].loc[
                set(df_poi_neighbor.loc[poi_candidate.business_id].neighbors) & list_user_pois]
            print(poi_neighbors)

            objective_value=geocat.objective_ILD_GC_PR(poi_candidate,df_user_checkin,rec_list,K,\
                                                business_cover,current_proportionality,\
                                               div_geo_cat_weight,div_weight,dict_alias_title,undirected_category_tree,\
                                                      relevant_categories_user,rec_list_categories,poi_neighbors)
            
            if objective_value > max_objective_value:
                max_objective_value=objective_value
                poi_to_insert=poi_candidate 
#         stop = timeit.default_timer()
#         print('Time:', stop - start)
        if poi_to_insert is not None:
            poi_neighbors=df_poi_neighbor.loc[poi_to_insert.business_id].neighbors
            poi_to_insert['score']=max_objective_value
            rec_list=rec_list.append(poi_to_insert)
            # remove from tmp_rec_list
            tmp_rec_list=tmp_rec_list[tmp_rec_list['business_id']!=poi_to_insert['business_id']].reset_index(drop=True)
            
            current_proportionality=geocat.update_geo_cov(poi_to_insert,df_user_checkin,K,business_cover,poi_neighbors)
    
    dict_rec_list[user_id]=rec_list[['business_id','score']]
    print(rec_list[['business_id','score']])
    break
    i+=1
    if i % num_users==0:
        print(i)

scaxsfOynKUZEijn_UCTkg
business_id
OSXb-DOITpDR7nm8wjrZ2w     11
U7G4VBrra439LgGBvV7dcg      2
_q0ci_oTC-QccjFKVc6CeA     50
qAzz1OYoGjwcSdwzu6FgTg      5
Iq1P8S3--gqd50xoQJxpqA     15
kQ81FVLQWKa9xEqZGQV_ng     11
hySu4oYN7R3sSohuSeEsTg      4
VfWX3UCKvUnVktdOuR8TwA     89
eZ1u1mwjUqb62v9dSiqZaQ      3
OlA7h9oOttqTALudvEUzTg      9
tVrKuh92l1eGK2fXsGYzaA     27
uMZxxZrbM441LnnfqR1WOQ     37
TBh4lRgZayACZKK02suaSQ     15
bbh8s3xxn5mzYynGayU8wA      5
OgwN65jZebPRIPSmNpRP7A     27
pyZkGdnTwpRh5tFWfdmQEg     19
GVZ2AxHFdGhbFyU-XByScg      6
wvCU61bSTtO8Cj7dhyrfMw     21
1Os0g2rh6I50ZIXEZSaNkA    215
uC3qwaxsOkdJzpOc0v1Mog    113
FEH0i7SnTH81k451ZadKIQ     99
aWYWNfHuQJyRwDHaHq8X1w    107
k9RUMKASTB6QZ-NkfnN8Fg     15
9ekn8UkOnJ5kgK-KGg5V7Q      6
VTJIw7e4s5MSkg4OdNer6w     45
npcnlBIiHvev2WUJpAezpw      2
QfWFxmXqRGixztgaZN0gOA     20
Name: checkin, dtype: int64
29
poke
bakeries
gourmet
nightlife
tex-mex
breakfast_brunch
burgers
newamerican
farmersmarket
chinese
tradamerican
cupcakes
gastropubs
food
customcakes
restaurants
hawaiian
vegan
bars
mexican
belgian
vegetarian
{'Poke', 'Bakeries', 'Specialty Food', 'Nightlife', 'Tex-Mex', 'Breakfast & Brunch', 'Burgers', 'American (New)', 'Farmers Market', 'Chinese', 'American (Traditional)', 'Cupcakes', 'Gastropubs', 'Food', 'Custom Cakes', 'Restaurants', 'Hawaiian', 'Vegan', 'Bars', 'Mexican', 'Belgian', 'Vegetarian'}