In [3]:
import sys
import numpy as np
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import geocat
import geo_utils
from constants import geocat_constants
def string_to_array(string):
    if string == '':
        return list()
    return eval(string)
%matplotlib inline
cities=['madison','lasvegas','phoenix','charlotte']
cities=['madison']

# neighbor of pois

In [4]:
for city in cities:
    df_poi=pd.read_csv("../data/poi/"+city+".csv",converters={'categories':string_to_array})

    df_poi_neighbors=pd.DataFrame(columns=['business_id','neighbors'])

    i=0

    for index,poi in df_poi.iterrows():
        
        df_other_pois=df_poi[df_poi.business_id!=poi['business_id']]
        poi_neighbors=geocat.poi_neighbors(poi,df_other_pois,geocat_constants.get_neighbor_distance())
        df_poi_neighbors=df_poi_neighbors.append({'business_id':poi.business_id
                                                  ,'neighbors':poi_neighbors['business_id'].values.tolist()},ignore_index=True)
        
    
    df_poi_neighbors.to_csv("../data/neighbor/"+city+".csv",index=False)

In [116]:
df_poi=pd.read_csv("../data/poi/madison.csv",converters={'categories':string_to_array})

df_poi_neighbors=pd.DataFrame(columns=['business_id','neighbors'])

i=0

for index,poi in df_poi.iterrows():
    if poi['business_id'] == "RJNAeNA-209sctUO0dmwuA":
        df_other_pois=df_poi[df_poi.business_id!=poi['business_id']]

        poi_neighbors=geocat.poi_neighbors(poi,df_other_pois,geocat_constants.get_neighbor_distance())
poi=cpoi 
poi_neighbors.set_index('business_id',inplace=True)
poi_neighbors.head(2)

,latitude,longitude,categories,subarea_id
business_id,,,,
5p5YW_5bMOSuLIQjkJPO3w,43.077209,-89.381527,"[Italian, Pizza, American (New)]",2202.0
ne9Nm8lgK6ZiYkVzrK7-Ig,43.072994,-89.383803,[Real Estate],2133.0

In [103]:
df_poi[df_poi.business_id!="RJNAeNA-209sctUO0dmwuA"][(geo_utils.haversine(poi['latitude'],poi['longitude'],
                            df_poi[df_poi.business_id!="RJNAeNA-209sctUO0dmwuA"].latitude,
                            df_poi[df_poi.business_id!="RJNAeNA-209sctUO0dmwuA"].longitude) <= 0.5)].set_index("business_id").loc["FEH0i7SnTH81k451ZadKIQ"]

latitude                                43.075
longitude                             -89.3841
categories    [Specialty Food, Farmers Market]
subarea_id                                2133
Name: FEH0i7SnTH81k451ZadKIQ, dtype: object

In [58]:
df_poi.head()

,business_id,latitude,longitude,categories,subarea_id
0,nkoie_y3fbaQGjZqFGqsrg,42.986420,-89.547928,"[Auto Glass Services, Windows Installation, Wi...",829.0
1,3d6ys6yvpF3svKa4HtUnoA,43.054188,-89.390218,[Life Coach],1854.0
2,xXdRivb3LjGCl8HiuUa22g,43.073052,-89.401230,[Insurance],2136.0
3,wOS6masGoY5JszRAF3goLQ,43.075024,-89.326698,"[Antiques, Thrift Stores, Community Service/No...",2123.0
4,y-1sMhUMubrHWdIW4FaE8w,43.062872,-89.308293,"[Fast Food, Sandwiches, Burgers]",1910.0

In [120]:
df_poi[(df_poi.business_id=="RJNAeNA-209sctUO0dmwuA") | (df_poi.business_id=="FEH0i7SnTH81k451ZadKIQ")]

,business_id,latitude,longitude,categories,subarea_id
1861,FEH0i7SnTH81k451ZadKIQ,43.074967,-89.384098,"[Specialty Food, Farmers Market]",2133.0
2272,RJNAeNA-209sctUO0dmwuA,43.076186,-89.383757,"[German, Bars, American (New), Steakhouses, Sa...",2133.0

In [59]:
k9RUMKASTB6QZ-NkfnN8Fg
FEH0i7SnTH81k451ZadKIQ
FEH0i7SnTH81k451ZadKIQ
FEH0i7SnTH81k451ZadKIQ
1Os0g2rh6I50ZIXEZSaNkA
bbh8s3xxn5mzYynGayU8wA

SyntaxError: invalid syntax (<ipython-input-59-cac1ea6ca4f6>, line 5)

In [ ]:
poi_neighbors.loc["FEH0i7SnTH81k451ZadKIQ"]

In [61]:
df_poi.head(1)

,business_id,latitude,longitude,categories,subarea_id
0,nkoie_y3fbaQGjZqFGqsrg,42.98642,-89.547928,"[Auto Glass Services, Windows Installation, Wi...",829.0

In [62]:
import geo_utils

In [63]:
geo_utils.haversine(0,0,0,1)

111.19492664455873

In [64]:
df_poi.set_index('business_id',inplace=True)

In [65]:
a=["k9RUMKASTB6QZ-NkfnN8Fg",
"FEH0i7SnTH81k451ZadKIQ",
"1Os0g2rh6I50ZIXEZSaNkA",
"bbh8s3xxn5mzYynGayU8wA"]

In [66]:
df_poi.loc[a].latitude

business_id
k9RUMKASTB6QZ-NkfnN8Fg    43.076452
FEH0i7SnTH81k451ZadKIQ    43.074967
1Os0g2rh6I50ZIXEZSaNkA    43.073563
bbh8s3xxn5mzYynGayU8wA    43.076819
Name: latitude, dtype: float64

In [67]:
geo_utils.haversine(df_poi.loc[["RJNAeNA-209sctUO0dmwuA"]].latitude.iloc[0],df_poi.loc[["RJNAeNA-209sctUO0dmwuA"]].longitude.iloc[0],\
                    df_poi.loc[a].latitude,df_poi.loc[a].longitude)

business_id
k9RUMKASTB6QZ-NkfnN8Fg    0.120848
FEH0i7SnTH81k451ZadKIQ    0.138423
1Os0g2rh6I50ZIXEZSaNkA    0.309926
bbh8s3xxn5mzYynGayU8wA    0.072309
dtype: float64