# Caracterização categorias

- https://www.yelp.com/developers/documentation/v3/all_category_list
- https://www.yelp.com/developers/documentation/v3/all_category_list/categories.json
- https://www.yelp.com/developers/documentation/v3/category

<table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>alias</td>
                    <td>string</td>
                    <td>Category alias.</td>
                </tr>
                <tr>
                    <td>title</td>
                    <td>string</td>
                    <td>Title of this category.</td>
                </tr>
                <tr>
                    <td>parent_aliases</td>
                    <td>string[]</td>
                    <td>List of aliases of parent categories.</td>
                </tr>
                <tr>
                    <td>country_whitelist</td>
                    <td>string[]</td>
                    <td>Countries for which this category is whitelisted.</td>
                </tr>
                <tr>
                    <td>country_blacklist</td>
                    <td>string[]</td>
                    <td>Countries for which this category is blacklisted.</td>
                </tr>
            </tbody>
        </table>

In [1]:
import json
import pandas as pd

df=pd.read_json("../data/categories.json")

In [2]:
df.head()

,alias,title,parents,country_whitelist,country_blacklist
0,3dprinting,3D Printing,[localservices],NaN,NaN
1,abruzzese,Abruzzese,[italian],[IT],NaN
2,absinthebars,Absinthe Bars,[bars],[CZ],NaN
3,acaibowls,Acai Bowls,[food],NaN,"[MX, IT, PL, CL, TR, AR]"
4,accessories,Accessories,[fashion],NaN,NaN

In [3]:
df[['alias','title']].head()

          alias          title
0    3dprinting    3D Printing
1     abruzzese      Abruzzese
2  absinthebars  Absinthe Bars
3     acaibowls     Acai Bowls
4   accessories    Accessories

In [4]:
# dicionario alias title 2 way
dict_alias_title={}
for index, row in df.iterrows():
    dict_alias_title[row['alias']]=row['title']
    dict_alias_title[row['title']]=row['alias']

In [5]:
# criação da árvore de categorias

import networkx as nx
import matplotlib.pyplot as plt
%matplotlib inline

category_tree= nx.DiGraph()
for index, row in df.iterrows():
    for parent_label in row['parents']:
        category_tree.add_edge(row['alias'],parent_label)

In [13]:
nx.shortest_path_length(category_tree.to_undirected(),'brazilianjiujitsu','chinesemartialarts')

2