# Caracterização dos dados
## Yelp Dataset Challenge 2019
### Autor: Heitor L. Werneck

- https://www.yelp.com/dataset
- https://www.yelp.com/dataset/documentation/main

Problemas

- par de amigos com redundancia. tabela friend. resolvido $\checkmark$
- business pode não ter categoria. resolvido $\checkmark$
- usuarios podem ter amigos que nao existem.

As informações disponíveis do usuário estão listadas na primeira tabela abaixo.

As principais características dos pois disponiveis são: $<latitude,longitude,stars,categories,address,hours,is\_open>$

O campo attributes pode dar informações por exemplo se existe uma garagem no local, está validado e entre outros. Esse tipo de dado pode ser utilizado em requeriment-awareness POI recommendation.

Tipos de informações sociais disponíveis do usuário:
- fans, número de fans que um usuário possui.
- friends, os amigos do usuário.
- compliments_xxxx elogios de diversos tipos feito pela comunidade a um usuário. Pode ser visto mais detalhadamente na tabela abaixo.
- votos useful, funny, cool. Caracterizações da comunidade a um review. O usuário também guarda um contador de votos de cada tipo.
- elite. Uma pessoa que faz bons reviews; tips de qualidade; perfil pessoal bem descrito; ativamente votando e elogiando; se da bem com as pessoas.

<table id="org4eb9158" border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
<caption class="t-above"><span class="table-number">Table 1:</span> Arquivos e campo.</caption>

<colgroup>
<col  class="org-left" />

<col  class="org-left" />

<col  class="org-left" />
</colgroup>
<thead>
<tr>
<th scope="col" class="org-left">Arquivo/Objeto</th>
<th scope="col" class="org-left">Campo</th>
<th scope="col" class="org-left">Descrição</th>
</tr>
</thead>

<tbody>
<tr>
<td class="org-left">business.json</td>
<td class="org-left">business\_id</td>
<td class="org-left">string, 22 character unique string business id</td>
</tr>


<tr>
<td class="org-left">business.json</td>
<td class="org-left">name</td>
<td class="org-left">string, the business's name</td>
</tr>


<tr>
<td class="org-left">business.json</td>
<td class="org-left">address</td>
<td class="org-left">string, the full address of the business</td>
</tr>


<tr>
<td class="org-left">business.json</td>
<td class="org-left">city</td>
<td class="org-left">string, the city</td>
</tr>


<tr>
<td class="org-left">business.json</td>
<td class="org-left">state</td>
<td class="org-left">string, 2 character state code, if applicable</td>
</tr>


<tr>
<td class="org-left">business.json</td>
<td class="org-left">postal code</td>
<td class="org-left">string, the postal code</td>
</tr>


<tr>
<td class="org-left">business.json</td>
<td class="org-left">latitude</td>
<td class="org-left">float, latitude</td>
</tr>


<tr>
<td class="org-left">business.json</td>
<td class="org-left">longitude</td>
<td class="org-left">float, longitude</td>
</tr>


<tr>
<td class="org-left">business.json</td>
<td class="org-left">stars</td>
<td class="org-left">float, star rating, rounded to half-stars</td>
</tr>


<tr>
<td class="org-left">business.json</td>
<td class="org-left">review\_count</td>
<td class="org-left">integer, number of reviews</td>
</tr>


<tr>
<td class="org-left">business.json</td>
<td class="org-left">is\_open</td>
<td class="org-left">integer, 0 or 1 for closed or open, respectively</td>
</tr>


<tr>
<td class="org-left">business.json</td>
<td class="org-left">attributes</td>
<td class="org-left">object, business attributes to values. note: some attribute values might be objects</td>
</tr>


<tr>
<td class="org-left">business.json</td>
<td class="org-left">categories</td>
<td class="org-left">an array of strings of business categories</td>
</tr>


<tr>
<td class="org-left">business.json</td>
<td class="org-left">hours</td>
<td class="org-left">an object of key day to value hours, hours are using a 24hr clock</td>
</tr>


<tr>
<td class="org-left">review.json</td>
<td class="org-left">review\_id</td>
<td class="org-left">string, 22 character unique review id</td>
</tr>


<tr>
<td class="org-left">review.json</td>
<td class="org-left">user\_id</td>
<td class="org-left">string, 22 character unique user id, maps to the user in user.json</td>
</tr>


<tr>
<td class="org-left">review.json</td>
<td class="org-left">business\_id</td>
<td class="org-left">string, 22 character business id, maps to business in business.json</td>
</tr>


<tr>
<td class="org-left">review.json</td>
<td class="org-left">stars</td>
<td class="org-left">integer, star rating</td>
</tr>


<tr>
<td class="org-left">review.json</td>
<td class="org-left">date</td>
<td class="org-left">string, date formatted YYYY-MM-DD</td>
</tr>


<tr>
<td class="org-left">review.json</td>
<td class="org-left">text</td>
<td class="org-left">string, the review itself</td>
</tr>


<tr>
<td class="org-left">review.json</td>
<td class="org-left">useful</td>
<td class="org-left">integer, number of useful votes received</td>
</tr>


<tr>
<td class="org-left">review.json</td>
<td class="org-left">funny</td>
<td class="org-left">integer, number of funny votes received</td>
</tr>


<tr>
<td class="org-left">review.json</td>
<td class="org-left">cool</td>
<td class="org-left">integer, number of cool votes received</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">user\_id</td>
<td class="org-left">string, 22 character unique user id, maps to the user in user.json</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">name</td>
<td class="org-left">string, the user's first name</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">review\_count</td>
<td class="org-left">integer, the number of reviews they've written</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">yelping\_since</td>
<td class="org-left">string, when the user joined Yelp, formatted like YYYY-MM-DD</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">friends</td>
<td class="org-left">array of strings, an array of the user's friend as user\_ids</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">useful</td>
<td class="org-left">integer, number of useful votes sent by the user</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">funny</td>
<td class="org-left">integer, number of funny votes sent by the user</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">cool</td>
<td class="org-left">integer, number of cool votes sent by the user</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">fans</td>
<td class="org-left">integer, number of fans the user has</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">elite</td>
<td class="org-left">array of integers, the years the user was elite</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">average\_stars</td>
<td class="org-left">float, average rating of all reviews</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">compliment\_hot</td>
<td class="org-left">integer, number of hot compliments received by the user</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">compliment\_more</td>
<td class="org-left">integer, number of more compliments received by the user</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">compliment\_profile</td>
<td class="org-left">integer, number of profile compliments received by the user</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">compliment\_cute</td>
<td class="org-left">integer, number of cute compliments received by the user</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">compliment\_list</td>
<td class="org-left">integer, number of list compliments received by the user</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">compliment\_note</td>
<td class="org-left">integer, number of note compliments received by the user</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">compliment\_plain</td>
<td class="org-left">integer, number of plain compliments received by the user</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">compliment\_cool</td>
<td class="org-left">integer, number of cool compliments received by the user</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">compliment\_funny</td>
<td class="org-left">integer, number of funny compliments received by the user</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">compliment\_writer</td>
<td class="org-left">integer, number of writer compliments received by the user</td>
</tr>


<tr>
<td class="org-left">user.json</td>
<td class="org-left">compliment\_photos</td>
<td class="org-left">integer, number of photo compliments received by the user</td>
</tr>


<tr>
<td class="org-left">checkin.json</td>
<td class="org-left">business\_id</td>
<td class="org-left">string, 22 character business id, maps to business in business.json</td>
</tr>


<tr>
<td class="org-left">checkin.json</td>
<td class="org-left">date</td>
<td class="org-left">string which is a comma-separated list of timestamps for each checkin, each with format YYYY-MM-DD HH:MM:SS</td>
</tr>


<tr>
<td class="org-left">tip.json</td>
<td class="org-left">text</td>
<td class="org-left">string, text of the tip</td>
</tr>


<tr>
<td class="org-left">tip.json</td>
<td class="org-left">date</td>
<td class="org-left">string, when the tip was written, formatted like YYYY-MM-DD</td>
</tr>


<tr>
<td class="org-left">tip.json</td>
<td class="org-left">compliment\_count</td>
<td class="org-left">integer, how many compliments it has</td>
</tr>


<tr>
<td class="org-left">tip.json</td>
<td class="org-left">business\_id</td>
<td class="org-left">string, 22 character business id, maps to business in business.json</td>
</tr>


<tr>
<td class="org-left">tip.json</td>
<td class="org-left">user\_id</td>
<td class="org-left">string, 22 character unique user id, maps to the user in user.json</td>
</tr>


<tr>
<td class="org-left">photo.json</td>
<td class="org-left">photo\_id</td>
<td class="org-left">string, 22 character unique photo id</td>
</tr>


<tr>
<td class="org-left">photo.json</td>
<td class="org-left">business\_id</td>
<td class="org-left">string, 22 character business id, maps to business in business.json</td>
</tr>


<tr>
<td class="org-left">photo.json</td>
<td class="org-left">caption</td>
<td class="org-left">string, the photo caption, if any</td>
</tr>


<tr>
<td class="org-left">photo.json</td>
<td class="org-left">label</td>
<td class="org-left">string, the category the photo belongs to, if any</td>
</tr>
</tbody>
</table>

In [1]:
import json
import pandas as pd
import numpy as np
fbusiness=open("business.json")
fcheckin=open("checkin.json")
fuser=open("user.json")
freview=open("review.json")
ftip=open("tip.json")
fphoto=open("photo.json")
featured_cities=["Las Vegas","Phoenix","Charlotte"]
df= pd.DataFrame()

# Número de cidades

In [2]:
all_data = list()
for i, line in enumerate(fbusiness):  
    # json to dict
    business_json = json.loads(line)
    # add to the data collection
    all_data.append(business_json['city'])
# create the DataFrame
df = pd.DataFrame(all_data, columns=['city'])
print("Número de cidades: ",len(df.city.unique()))
# free memory
df=[]
all_data=[]

Numero de cidades:  1204

# business and user dataframe

In [3]:
all_data = list()
fbusiness.seek(0)
for i, line in enumerate(fbusiness):  
    # json to dict
    business_json = json.loads(line)
    # add to the data collection
    all_data.append(business_json['business_id'])
# create the DataFrame
df_business = pd.DataFrame(all_data, columns=['business_id'])

all_data = list()
for i, line in enumerate(fuser):  
    # json to dict
    user_json = json.loads(line)
    # add to the data collection
    all_data.append(user_json['user_id'])
df_user = pd.DataFrame(all_data, columns=['user_id'])

# Número de usuários e business

In [4]:
print(df_business.count())
df_business=[]

business_id    192609
dtype: int64

In [5]:
print(df_user.count())
df_user=[]

user_id    1637138
dtype: int64

# dataframe com user\_id,business\_id e city.
# Primeiro pega os usuários dos pois através do review

In [6]:
df = pd.DataFrame(columns=['user_id','business_id'])
all_data = list()
freview.seek(0)
for i, line in enumerate(freview):  
    if i%300000==0:
        print(i)
    # json to dict
    review_json = json.loads(line)
    # add to the data collection
    all_data.append([review_json['user_id'],review_json['business_id']])

all_data=pd.DataFrame(all_data, columns=['user_id','business_id'])
## append all users of review
df = df.append(all_data).drop_duplicates().reset_index(drop=True)
all_data=[]

0
300000
600000
900000
1200000
1500000
1800000
2100000
2400000
2700000
3000000
3300000
3600000
3900000
4200000
4500000
4800000
5100000
5400000
5700000
6000000
6300000
6600000

In [7]:
print(df.head())
print(df.count())

                  user_id             business_id
0  hG7b0MtEbXx5QzbzE6C_VA  ujmEBvifdJM6h6RLv4wQIg
1  yXQM5uF2jS6es16SJzNHfg  NZnhc2sEQy3RmzKTZnqtwQ
2  n6-Gk65cPZL6Uz8qRm3NYw  WTqjgwHlXbSFevF32_DJVw
3  dacAIZ6fTM6mqwW5uxkskg  ikCg8xy5JIg_NGPx-MSIDA
4  ssoyf2_x0EQMed6fgHeMyQ  b1b1eb3uo-w561D0ZfCEiQ
user_id        6461396
business_id    6461396
dtype: int64

# Pega usuários através dos tips

In [8]:
all_data = list()
for i, line in enumerate(ftip):  
    if i%300000==0:
        print(i)
    # json to dict
    tip_json = json.loads(line)
    # add to the data collection
    all_data.append([tip_json['user_id'],tip_json['business_id']])

all_data=pd.DataFrame(all_data, columns=['user_id','business_id'])
## append all users of tip
df = df.append(all_data).drop_duplicates().reset_index(drop=True)

all_data=[]

0
300000
600000
900000
1200000

In [13]:
print(df.head())
print(df.count())

                  user_id             business_id
0  hG7b0MtEbXx5QzbzE6C_VA  ujmEBvifdJM6h6RLv4wQIg
1  yXQM5uF2jS6es16SJzNHfg  NZnhc2sEQy3RmzKTZnqtwQ
2  n6-Gk65cPZL6Uz8qRm3NYw  WTqjgwHlXbSFevF32_DJVw
3  dacAIZ6fTM6mqwW5uxkskg  ikCg8xy5JIg_NGPx-MSIDA
4  ssoyf2_x0EQMed6fgHeMyQ  b1b1eb3uo-w561D0ZfCEiQ
user_id        7118613
business_id    7118613
dtype: int64

# Cria efetivamente a tripla mencionada anteriormente através da função merge

In [14]:
all_data = list()
fbusiness.seek(0)
for i, line in enumerate(fbusiness):  
    # json to dict
    business_json = json.loads(line)
    # add to the data collection
    all_data.append([business_json['business_id'],business_json['city']])

df_business=pd.DataFrame(all_data, columns=['business_id','city'])

df = pd.merge(df,df_business,left_on='business_id',right_on='business_id').drop_duplicates().reset_index(drop=True)
df_business=[]

df.head()

                  user_id             business_id       city
0  hG7b0MtEbXx5QzbzE6C_VA  ujmEBvifdJM6h6RLv4wQIg  Las Vegas
1  RBXSJA372ilErzNwz0jXvQ  ujmEBvifdJM6h6RLv4wQIg  Las Vegas
2  x3brMMbJrAW9PwW5A6YL5w  ujmEBvifdJM6h6RLv4wQIg  Las Vegas
3  Skzdl0sWhW88525a1vr59g  ujmEBvifdJM6h6RLv4wQIg  Las Vegas
4  3Y25VDfnQVcuc33T-U3Z6A  ujmEBvifdJM6h6RLv4wQIg  Las Vegas

# Quantidade de usuários em cada cidade

In [26]:
df_user_city = df[['user_id','city']].drop_duplicates().groupby('city').count().rename(columns={'user_id':'Users'})
df_user_city

                Users
city
                    3
110 Las Vegas      74
AGINCOURT          10
AVON               17
AZ                  3
...               ...
toronto            22
verdun              9
Île des Soeurs     48
Île-des-Soeurs      5
​Chandler          20

[1204 rows x 1 columns]

# Quantidade de pois em cada cidade

In [27]:
df_poi_city= df[['business_id','city']].drop_duplicates().groupby('city').count().rename(columns={'business_id':'POIs'})
df_poi_city

                POIs
city
                   1
110 Las Vegas      1
AGINCOURT          1
AVON               1
AZ                 1
...              ...
toronto            3
verdun             1
Île des Soeurs     1
Île-des-Soeurs     1
​Chandler          1

[1204 rows x 1 columns]

# Esparsidade das cidades.
Primeiro é pego a quantidade máxima de "células" de uma matriz virtual $USER\times POI$ WHERE POI.city="city_name". Depois disso basta usar a fórmula $1-\frac{CelulasPreenchidas}{MaxCelulas}$.

In [43]:
temp1=pd.DataFrame(df_poi_city.values*df_user_city.values, columns=df_poi_city.columns, index=df_poi_city.index).rename(columns={'POIs':'Max'})

print(temp1)

temp2=df[['user_id','city']].groupby('city').count().rename(columns={'user_id':'Users'})

print(temp2)
city_sparsity=pd.DataFrame(1-temp2.values/temp1.values,columns=["Sparsity"],index=temp1.index)
print(city_sparsity)

temp1=None
temp2=None

#df[['business_id','city']].drop_duplicates().groupby('city').count().rename(columns={'user_id':'Users'})

                Max
city
                  3
110 Las Vegas    74
AGINCOURT        10
AVON             17
AZ                3
...             ...
toronto          66
verdun            9
Île des Soeurs   48
Île-des-Soeurs    5
​Chandler        20

[1204 rows x 1 columns]
                Users
city
                    3
110 Las Vegas      74
AGINCOURT          10
AVON               17
AZ                  3
...               ...
toronto            22
verdun              9
Île des Soeurs     48
Île-des-Soeurs      5
​Chandler          20

[1204 rows x 1 columns]
                Sparsity
city
                0.000000
110 Las Vegas   0.000000
AGINCOURT       0.000000
AVON            0.000000
AZ              0.000000
...                  ...
toronto         0.666667
verdun          0.000000
Île des Soeurs  0.000000
Île-des-Soeurs  0.000000
​Chandler       0.000000

[1204 rows x 1 columns]

# Esparsidades de algumas cidades

In [53]:
print(city_sparsity.loc['Las Vegas'],
city_sparsity.loc['Phoenix'],
city_sparsity.loc['Charlotte'],sep='\n')

Sparsity    0.999881
Name: Las Vegas, dtype: float64
Sparsity    0.99984
Name: Phoenix, dtype: float64
Sparsity    0.999649
Name: Charlotte, dtype: float64